@import "../var";

.generales {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  // grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  // grid-gap: 10px;
  padding: 0rem 1.5rem 1.5rem 1.5rem;
  margin: auto;
  width: 100%;
}
