@import "../var";

.card {
  display: flex;
  border-radius: 0.25rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border: 1px #ccc;
  cursor: pointer;
  .card-title,
  .card-date {
    color: #333;
    font-size: 13pt;
  }
  .card-author {
    color: #999;
  }
  div {
    color: $color-accent;
  }
  background-color: #fff;
  color: $color-accent;
  z-index: 5;
  padding: 1rem;
  height: min-content;
  .card-left {
    color: $color-accent;
    display: flex;
    //width: 100%;
    justify-content: flex-start;
  }
  a {
    text-decoration: none;
    width: 100%;
    display: flex;
  }
}
.card:hover {
  background-color: #fafafa;
  .btn {
    visibility: visible;
  }
}
.card-right {
  display: flex;
  float: right;
  margin-left: auto;
}
.card-date {
  margin-right: 3rem;
}
.btn {
  visibility: hidden;
  font: inherit;
  //   width: 1.5rem;
  //   height: 1rem;
  cursor: pointer;
  border-radius: 2.5rem;

  font-family: $tipografia-general;

  //color:$color-secondary;
  // border: $border-styles;
  margin-right: 3rem;
}

.card-delete:hover {
  visibility: visible;
  animation-name: react-border;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
}

@keyframes react-border {
  0% {
    border: 1.2px solid #ced4da;
  }
  100% {
    border: 2px solid #949fb8;
  }
}

@media (max-width: 840px) {
  .card {
    .card-left {
      flex-direction: column;
    }
  }
}

@media (max-width: 690px) {
  .card {
    flex-direction: column;
    justify-content: center;
    div {
      text-align: center;
      margin: 0.25rem auto 0.25rem auto;
    }
    .card-right {
      float: none;
      margin: 0.25rem auto 0.25rem auto;
      flex-direction: column;
      justify-content: center;
      .btn {
        margin: 0.25rem auto 0.25rem auto;
      }
    }
  }
}
