@import "../var";
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  align-items: stretch;
  margin: auto;
  height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
}
